<h3>
	<a ui-sref="{{pathBack}}">
		<
	</a>
	{{currentNode.name}}
	<a ui-sref="home">
    ^
  </a>
</h3>

<ul>
	<div ng-repeat="item in currentNode.children">

		<li ng-if="item.children.length != 0">
			<a ui-sref="categoryChild({categoryId: item.id})">
				{{item.name}}
			</a>
		</li>
	</div>
	<div ng-repeat="item in currentNode.children" >
		<li ng-if="item.children.length == 0">
			<em>
				<a ui-sref="store({categoryId: item.id})">
					{{item.name}}
				</a>
			</em>
		</li>
	</div>


	<li>
		<em>
			<a ui-sref="store({categoryId: currentNode.id})">
				{{currentNode.name}} Various/Misc.
			</a>
		</em>
	</li>
</ul>
