<div class="row-fluid">
  <div class="col-xs-4">
    <a ui-sref="recieve">
      <img src="/assets/css/img/store-icon.png">
    </a>
    <h3>
      <a ui-sref="recCatTop"> CATEGORIES </a>
    </h3>
    <h3 ng-repeat="item in breadcrumbs">
      <div ng-if="item==currentNode" class="currentNode">
      </div>
      <span class="glyphicon glyphicon-menu-down"></span></br>
      <a ui-sref="recCatChild({categoryId: item.id})"> {{item.name | uppercase}} </a>
    </h3>
  </div>

  <div ng-repeat="item in currentNode.children">
    <div ng-if="item.children.length != 0">
      <div class="right col-xs-8">
        <li>
          <a ui-sref="recCatChild({categoryId: item.id})">
            {{item.name | uppercase}}
          </a>
        </li>
      </div>
    </div>
  </div>

  <div ng-repeat="item in currentNode.children">
    <div ng-if="item.children.length == 0">
      <li class="right col-xs-8">
        <a ui-sref="recSave({categoryId: item.id})">
          {{item.name | uppercase}}
        </a>
      </li>
    </div>
  </div>

  <li class="right col-xs-8" ng-if="currentNode.id">
      <em><a ui-sref="recSave({categoryId: currentNode.id})">
        MISCELLANEOUS {{currentNode.name | uppercase}}
      </a></em>
  </li>
</div>
