<div class="row-fluid">
  <div class="col-xs-5">
      <a ui-sref="prep">
        <img src="/assets/css/img/shelf-icon.png" class="homeShelf">
      </a>
    <h3>
      <a ui-sref="recLocTop" class="breadcrumb"> LOCATIONS </a>
    </h3>
    <h1 ng-repeat="item in breadcrumbs">
      <span class="glyphicon glyphicon-menu-down"></span></br>
      <a ui-sref="recLocChild({locationId: item.id})"> {{item.name | uppercase}} </a>
    </h1>
  </div>
  <h2 class="col-xs-7">Storing Options For {{category.name}}</h2>
  <ul class="col-xs-7 right">

    <li ng-repeat="location in locationNode.children"
    ng-if="location.children.length != 0"
    ui-sref="recLocChild({ ingredientId: ingredient.id, locationId: location.id })">
      {{location.name | uppercase}}
    </li>

    <li ng-repeat="location in locationNode.children"
    ng-if="location.children.length == 0"
    ng-click="patchIngLoc(ingredient,location)"
    ui-sref="completeIng({ ingredientId: ingredient.id })">
      {{location.name | uppercase}}
    </li>

  </ul>

</div>
