<img src="assets/css/img/label-blank.png" class="blankLabel">
  <h5 class="itemToSave">
    Item: {{selectedCategory.name}}
  </h5>
<div class="row-fluid options">
  <div class="col-xs-4">
    <img src="assets/css/img/rebox-icon.png">
  </div>
  <div class="col-xs-4">
      <img src="assets/css/img/shelf-icon.png">
  </div>
  <div class="col-xs-4">
      <img src="assets/css/img/complete-icon.png">
  </div>
</div>

<!-- 
<h5>
  Count: {{categoryFraction()}}
</h5>
<h5>
  Location: Unassigned
</h5>
			<button ng-click="storeNow(selectedCategory.id)">
				Assign Location
			</button>

			<button ng-click="storeLater(selectedCategory.id)">
			  Save for Later
			</button>

 -->