<div class="labelPage">
  <h2 class="itemToSave">
    Item: {{selectedCategory.name}}
  </h2>
  <h2 class="date">
    Todays Date
  <span class="expire">
    {{expireMessage(ingredient)}}
  </span></h2>
  <h2 class="unassignedLocation">
    Location: Unassigned
  </h2>
</div>


<div class="row-fluid options">
  <div class="col-xs-6">
      <img src="assets/css/img/shelf-icon.png" ng-click="storeNow(selectedCategory.id)">
  </div>
  <div class="col-xs-6">
      <img src="assets/css/img/complete-icon.png" ng-click="storeLater(selectedCategory.id)">
  </div>
</div>

