<div class="row-fluid">
  <div class="header col-xs-12">
			<span><h3>You've Selected The Following: {{categoryNode.name}}</h3>
			<h4>Do you want to...</h4></span>
	</div>
</div>
<div class="store">
	<ul>
		<li class="content">
			<a ng-click="storeNow(categoryNode.id)">
				Choose a Storage Location Now
			</a>
		</li>
		<li class="content">
			<a ng-click="storeLater(categoryNode.id)" ui-sref="home">
				Store It Later....Not Putting It Away Yet!
			</a>
		</li>
	</ul>
		<li class="content">
			<a ng-click="storeLater(categoryNode.id)" ui-sref="home">
				Store It Later....Not Putting It Away Yet!
			</a>
		</li>
	</ul>
</div>

