<div class="row-fluid">
  <div class="col-xs-5">
    <a ui-sref="recieve">
      <img src="/assets/css/img/store-icon.png" class="homeStore">
    </a>
    <h1>
      <a ui-sref="{{pathBack}}" class="breadcrumb">
        UNSTORED ITEMS
        <p class="badge" id="unstoredBadge">
          {{queueCount()}}
        </p>
      </a>
    </h1>
  </div>
  <ul ng-repeat="item in ingredients" class="unstoredItems col-xs-7">
    <li ng-if="item.location_id == null">
        <a ui-sref="recLocTop({ ingredientId: item.id })">{{findCategory(item.category_id).name | uppercase}}</a>
    </li>
  </ul>
</div>
