<div class="row-fluid">
  <div class="col-xs-4">
    <img src="/assets/css/img/store-icon.png">
    <h3>
      <a ui-sref="{{pathBack}}">
      Unstored Items
      <span class="badge">
        {{queueCount()}}
      </span>
      </a>
    </h3>
  </div>
  <ul ng-repeat="item in ingredients">
    <li ng-if="item.location_id == null">
      <div class="right col-xs-8">
				<a ui-sref="recLocTop({ ingredientId: item.id })">{{findCategory(item.category_id).name | uppercase}}</a>
      </div>
		</li>
  </ul>
</div>
