<div class="row-fluid">
  <div class="col-xs-12 basket">
    <p>
      YOUR BASKET
    </p>
  </div>
  <div class="col-xs-12" ng-if="basket.length != 0">
    <ul>
      <li ng-repeat="item in basket">
        <a class="basketItem" ui-sref="prepIng({ingredientId: item.id})">
          {{categoryName(item) | uppercase}}
        </a>
      </li>
    </ul>
    <div class="row-fluid options" >
      <div class="col-xs-6">
          <img src="/assets/empty-icon.png"
          ng-click="basketRemoveAll()">
      </div>
      <div class="col-xs-6">
          <img src="/assets/use-all-icon.png"
          ng-click="basketUseAll()">
      </div>
    </div>
  </div>

  <div class="col-xs-7" ng-if="basket.length == 0">
    <ul>
      <li>EMPTY</li>
    </ul>
  </div>
</div>
