<div class="labelPage">
  <h2 class="itemToSave">
    {{name + ": "}}
    <span>{{categoryFraction()}}</span>
  </h2>
  <h2 class="date">
    {{recievedMessage()}}
  <span class="expire">
    {{expireMessage()}}
  </span>
  </h2>
  <h2 class="unassignedLocation">
    {{locationMessage()}}
  </h2>
</div>

<div class="row-fluid options" >
  <div class="col-xs-4" ng-if="!basketed">
      <img src="/assets/add-icon.png"
      ng-click="toBasket()">
  </div>
  <div class="col-xs-4" ng-if="basketed">
      <img src="/assets/remove-icon.png"
      ng-click="fromBasket()">
  </div>
  <div class="col-xs-4">
      <img src="/assets/use-icon.png"
      ng-click="use()">
  </div>
  <div class="col-xs-4">
      <img src="/assets/cancel-icon.png"
      ui-sref="prep">
  </div>
</div>