body {
	text-align: center;
	font-family: impact;
	background-image: url("img/background.jpg");
	color: black;
}

.potluckHeader {
	padding: 0;
}

#logo {
	position: absolute;
	top: 1%;
	left: 25%;
}

#top-cover {
	 max-height: 250px;
	 width: 100%;
   height: auto;
}

a:link, a:hover, a:visited, a:active {
	color: black;
}

.homeShelf, .homeStore {
    float:none;
    display:block;
    vertical-align:middle;
    vertical-align: center;
    margin: 10% 0 0 30%;
}

.breadcrumbs {
	position:fixed;
	top:300px;
	left:5px;
}

.breadcrumbs img {
	margin-bottom: 10%;
}

.breadcrumbs li {
	border-bottom: none;
}

.right {
	float: right;
}


li {
	list-style: none;
	margin-left: 0px;
	color: black!important;
	border-bottom: dotted 3px;
	margin-bottom: 30px;
	font-size: 2.5em;
}

.badge {
		height:50px;
		width:50px;
		font-size: 27px;
		font-family: 'Lora', serif;
		text-align: center;
		margin-bottom: 2%;
		background-color: black;
	}


@media only screen and (max-device-width: 667px) { 
	body {
		font-family: impact;
		font-size: 2em;
	}
 }



