<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle>
  <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
    {{item.name}}

  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="deleteCategory(this);"><span class="glyphicon glyphicon-remove"></span></a>

  <ol ui-tree-nodes="" ng-model="item.children" ng-class="{hidden: collapsed}">
    <li ng-repeat="item in item.children" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="col-xs-offset-2 col-xs-6">

  <div ui-tree>
    <ol ui-tree-nodes="" ng-model="categories" id="tree-root">
      <li ng-repeat="item in categories" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
  </div>

  <button ng-click="newCat()" class="btn btn-lg btn-primary">
    New Category
  </button>
  
</div>
