<div>
	<h1>Categories</h1>

</div>
<div ng-controller="CategoriesCtrl">
	<ul>
		<li ng-repeat="item in categories | filter: { 'parent_id': 2 }:true">
			{{ item.name }}
		</li>
	</ul>
</div>

<!--


<div ui-tree>
  <ol ui-tree-nodes="" ng-model="list">
    <li ng-repeat="item in list" ui-tree-node>
      <div ui-tree-handle>
        {{item.title}}
      </div>
      <ol ui-tree-nodes="" ng-model="item.items">
        <li ng-repeat="subItem in item.items" ui-tree-node>
          <div ui-tree-handle>
            {{subItem.title}}
          </div>
        </li>
      </ol>
    </li>
  </ol>
</div>

ng repeat "item in motherload | filter {myFilter} "
	{{ item.name }}

 filter by motherload.children

filter by protein.children

logic for myFilter.. 
itemsArray = []
if parent_id ==== null
push to itemsArray
else_if parent_id === 1
push to itemsArray
else
...
end
return itemsArray
etc. -->

