<h3>
	<a ui-sref="{{pathBack}}">
		<
	</a>
	{{currentNode.name}}
	<a ui-sref="home">
    <span class="glyphicon glyphicon-home"></span>
  </a>
</h3>

<ul>
	<div ng-repeat="item in currentNode.children">

		<li ng-if="item.children.length != 0">
			<a ui-sref="categoryChild({categoryId: item.id})">
				{{item.name}}
			</a>
			<span class="badge">
				{{countFromIds(ingredients,selfAndDescendantsIds(item))}}
			</span>
		</li>
	</div>
	<div ng-repeat="item in currentNode.children" >
		<li ng-if="item.children.length == 0">
			<em>
				<a ui-sref="store({categoryId: item.id})">
					{{item.name}}
				</a>
				<span class="badge">
					{{countFromIds(ingredients,selfAndDescendantsIds(item))}}
				</span>
			</em>
		</li>
	</div>


	<li>
		<em>
			<a ui-sref="store({categoryId: currentNode.id})">
				{{currentNode.name}} Various/Misc.
			</a>
		</em>
		<span class="badge">
			{{countFromIds(ingredients,[currentNode.id])}}
		</span>
	</li>
</ul>
