<div class="row">
	<div class="potluckHeader col-xs-12">
		<img id="top-cover" src="assets/css/img/top-cover.png">
		<img id="logo" src="assets/css/img/logo.png">
	</div>
</div>


<div class="row-fluid">
	<div class="breadcrumbs col-xs-4">
		<img src="assets/css/img/store-icon.png">
	</div>
	<div class="right col-xs-8">
	<ul>
		<li>
			<a ui-sref="recieve">
				STORE GOODS
			</a>
		</li>
		<li>
	    <a ui-sref="prep">
				FIND GOODS
			</a>
		</li>
		<li>
			OTHER THINGS
		</li>
		<li>
			MORE OTHER THINGS
		</li>
		<li>
			OTHER THINGS
		</li>
		<li>
			EVEN MORE OTHER THINGS
		</li>
		<li>
			MORE OTHER THINGS
		</li>
		<li>
			OTHER THINGS
		</li>
		<li>
			EVEN MORE OTHER THINGS
		</li>		
	</ul>
	</div>
</div>
<div class="row-fluid">

