@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-apple55:before {
	content: "\e000";
}
.flaticon-bananas1:before {
	content: "\e001";
}
.flaticon-breads:before {
	content: "\e002";
}
.flaticon-broccoli:before {
	content: "\e003";
}
.flaticon-cheese14:before {
	content: "\e004";
}
.flaticon-chicken7:before {
	content: "\e005";
}
.flaticon-chilis:before {
	content: "\e006";
}
.flaticon-cooking15:before {
	content: "\e007";
}
.flaticon-cutlery6:before {
	content: "\e008";
}
.flaticon-drink150:before {
	content: "\e009";
}
.flaticon-fish52:before {
	content: "\e00a";
}
.flaticon-fruit42:before {
	content: "\e00b";
}
.flaticon-fruit72:before {
	content: "\e00c";
}
.flaticon-fruit74:before {
	content: "\e00d";
}
.flaticon-fruit75:before {
	content: "\e00e";
}
.flaticon-healthy-food4:before {
	content: "\e00f";
}
.flaticon-healthy-food5:before {
	content: "\e010";
}
.flaticon-jar12:before {
	content: "\e011";
}
.flaticon-kitchen61:before {
	content: "\e012";
}
.flaticon-olives:before {
	content: "\e013";
}
.flaticon-open-can:before {
	content: "\e014";
}
.flaticon-salad:before {
	content: "\e015";
}
.flaticon-salt5:before {
	content: "\e016";
}
.flaticon-sandwich:before {
	content: "\e017";
}
.flaticon-sprig2:before {
	content: "\e018";
}
.flaticon-steak:before {
	content: "\e019";
}
.flaticon-sweet9:before {
	content: "\e01a";
}
.flaticon-wheat5:before {
	content: "\e01b";
}
