<div class="row-fluid">
  <div class="col-xs-4">
    <a ui-sref="prep">
      <img src="/assets/css/img/rebox-icon.png">
    </a>
    <h3>
      BASKET
    </h3>
  </div>

  <div class="right col-xs-8" ng-if="basket.length != 0">
    <ul>
      <li ng-repeat="item in basket">
        <a ui-sref="prepIng({ingredientId: item.id})">
          {{categoryName(item)}}
        </a>
        <small ng-click="outOfBasket(item)" class="removeItem"> remove</small>
      </li>
    </ul>

    <button class="btn btn-warning btn-lg btn-block" ng-click="allUseBasket()">
      <span class="glyphicon glyphicon-remove-circle"></span>
      Use All Items
    </button>

    <button class="btn btn-danger btn-lg btn-block" ng-click="allOutOfBasket()">
      <span class="glyphicon glyphicon-upload"></span>
      Return All Items
    </button>
  </div>

  <div class="right col-xs-8" ng-if="basket.length == 0">
    <ul>
      <li>EMPTY</li>
    </ul>
  </div>
</div>
