<h3>
	<a ui-sref="{{pathBack}}">
		<
	</a>
	{{currentNode.name}}
	<a ui-sref="home">
    ^
  </a>
</h3>

<ul>
	<div ng-repeat="item in currentNode.children">

		<li ng-if="item.children.length != 0 && ingDescCount(item) > 0">
			<a ui-sref="prepCatChild({categoryId: item.id})">
				{{item.name}}
			</a>
      <span class="badge">
				{{ingDescCount(item)}}
			</span>
		</li>
	</div>
	<div ng-repeat="item in currentNode.children" >
		<li ng-if="item.children.length == 0 && ingDescCount(item) > 0">
					<a ui-sref="prepCatIng({categoryId: item.id})">
						{{item.name}}
					</a>
      <span class="badge">
				{{ingDescCount(item)}}
			</span>
		</li>
	</div>

	<div ng-repeat="item in ingredients" style="background-color: #A3FFFF;">
		<a ng-if="item.category_id == currentNode.id" ui-sref="ingDetail({ingredient_id: item.id})">
			<li>
				Assorted {{catIdToName(item.category_id)}}
				<span ng-if="item.location_id != null">
					-{{locIdToName(item.location_id)}}
				</span>
			</li>
		</a>
	</div>
</ul>
