<div class="row-fluid">
  <div class="col-xs-4">
      <a ui-sref="prep">
        <img src="/assets/css/img/shelf-icon.png">
      </a>
    <h3>
      <a ui-sref="recCatTop"> CATEGORIES </a>
    </h3>
    <h3 ng-repeat="item in breadcrumbs">
      <div ng-if="item==currentNode" ng-style='{"color": "red";}'>
      </div>
      <span class="glyphicon glyphicon-menu-down"></span></br>
      <a ui-sref="prepCatChild({categoryId: item.id})"> {{item.name | uppercase}} </a>
    </h3>
  </div>


  <div ng-repeat="item in currentNode.children">
    <div ng-if="item.children.length != 0 && ingDescCount(item) > 0">
      <li class="right col-xs-8">
          <a ui-sref="prepCatChild({categoryId: item.id})">
            {{item.name | uppercase}}
          </a>
          <span class="badge">
            {{ingDescCount(item) | uppercase}}
          </span>
        </li>
    </div>
  </div>

  <div ng-repeat="item in currentNode.children">
    <div ng-if="item.children.length == 0 && ingDescCount(item) > 0">
      <li class="right col-xs-8">
          <a ui-sref="prepCatChild({categoryId: item.id})">
            {{item.name | uppercase}}
          </a>
          <span class="badge">
            {{ingDescCount(item) | uppercase}}
          </span>
      </li>
    </div>
  </div>

  <div ng-repeat="item in ingredients">
    <li ng-if="item.category_id == currentNode.id" class="item right col-xs-8">
      <a ui-sref="prepIng({ingredientId: item.id})">
        Item: {{catIdToName(item.category_id) | uppercase }}
      </a>
      <small ng-if="item.location_id != null">
        {{'  (' + locIdToName(item.location_id) + ')' | uppercase }}
      </small>
      <small ng-if="item.location_id == null">
        (somewhere)
      </small>
    </li>
  </div>
</ul>
