<h3>
	<a ui-sref="#">
		<
	</a>
	{{categoryName(ingredient) + " "}}
	<span class="badge">{{categoryFraction(ingredient)}}</span>
	<a ui-sref="home">
    ^
  </a>
</h3>

<ul>
	<li>
		{{recievedMessage(ingredient)}}
	</li>
	<li>
    {{locationMessage(ingredient)}}
  </li>
	<li>
    {{expireMessage(ingredient)}}
  </li>
</ul>

<button type="button" class="btn btn-warning btn-lg btn-block">
	<span class="glyphicon glyphicon-shopping-cart"></span>
	Add To Basket
</button>

<button type="button" class="btn btn-danger btn-lg btn-block">
	<span class="glyphicon glyphicon-remove-circle"></span>
	Mark As Used
</button>
