<div class="row-fluid">
  <div class="col-xs-5">
    <a ui-sref="prep">
      <img src="/assets/css/img/shelf-icon.png" class="homeShelf">>
    </a>
    <h3>
      <a ui-sref="recLocTop"> LOCATIONS </a>
    </h3>
    <h3 ng-repeat="item in breadcrumbs">
      <span class="glyphicon glyphicon-menu-down"></span>
      </br>
      <a ui-sref="prepLocChild({locationId: item.id})"> {{item.name | uppercase}} </a>
    </h3>
  </div>

  <div ng-repeat="item in ingredients">
    <li ng-if="item.location_id != null
    && item.location_id == currentLocation.id" class="item">
      <a ui-sref="prepIng({ingredientId: item.id})">
        1X {{catIdToName(item.category_id) | uppercase }}
      </a>
      <small ng-if="item.location_id != null">
        {{'  (' + locIdToName(item.location_id) + ')' | uppercase}}
      </small>
      <small ng-if="item.location_id == null">
        (SOMEWHERE)
      </small>
    </li>
  </div>

  <div ng-repeat="item in currentLocation.children">

    <li ng-if="ingredientsBelow(item) > 0"
    class="right col-xs-7">
      <a ui-sref="prepLocChild({locationId: item.id})">
        {{item.name | uppercase }}
      </a>
      <span class="badge">
        {{ingredientsBelow(item)}}
      </span>
    </li>

    <li ng-if="ingredientsBelow(item) == 0"
    class="right col-xs-7">
      <span style="color: hsla(0,0%,0%,0.35);">
        {{item.name | uppercase}}
      </span>
      <span class="badge">
        {{ingredientsBelow(item)}}
      </span>
    </li>
  </div>

</div>
