<div class="row-fluid">
  <div class="breadcrumbs col-xs-4">
    <img src="/assets/css/img/shelf-icon.png">
  </div>
  <ul class="right col-xs-8">

    <li>
      <a ui-sref="prepExpiring">USE FIRST</a>
    </li>

    <li ng-if="basket.length != 0">
      <a ui-sref="prepBasket">
        BASKET
      </a>
      <span class="badge">
        {{basket.length}}
      </span>
    </li>
    <li ng-if="basket.length == 0">
      BASKET
    </li>

    <li>
      <a ui-sref="prepCatTop">SEARCH CATEGORIES</a>
    </li>

    <li>
      <a ui-sref="prepLocTop">SEARCH LOCATIONS</a>
    </li>

</ul>
